.email-checkbox {
  cursor: pointer;
  height: 2.25em;
  padding: 6px 10px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */

  white-space: pre;

  &.disabled {
    background: #f7f7f7;
  }

  &-address {
    margin-left: 5px;
  }

}
