div.favorite-team-select {
  height: 88%;
  border: 1px solid #dbdbdb;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
}

#favorite-team-select-container {
  overflow: hidden;
  min-height: 0;
  height: 100%;
}

.Select-value.favorite-team-option {
  background-color: #fc6066;
  border: 1px solid #fc6066;
  color: #fff;
}

.Select-value .Select-value-icon {
  border-right: 1px solid #db4f55;
}

.Select-value .Select-value-icon:hover, .Select-value .Select-value-icon:focus {
  color: #b50000;
}

.Select-option.is-focused {
  background: rgba(252, 96, 102, 0.2);
}
