div.favorite-team-select-row:hover {
  background-color: #f1f1f1;
}

div.favorite-team-select-row {
  cursor: pointer;
  white-space: nowrap;
}

div.favorite-team-name{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.favorite-team-star {
  display: inline-block;
  float: right;
  margin-left: 5px;
  color: #fc6066;
}
