.league-column {
  padding: 10px;
  min-height: 115px;
  margin-bottom: 25px;
  background-color: #2d2d2d;
  height: 95vh;
  overflow-y: scroll;
}

.league-column-container {
  padding: 3px 4px;
  border-bottom: 1px solid dimgrey;
  flex: 0 100%;
}

/*.league-name {
  position: relative;
  top: -18px;
  padding: 2px 7px;
  border: 1px solid white;
  background-color: white;
  color: black;
  border-radius: 3px;
}*/

.league-column-container:nth-child(even) {
    border: 1px solid white;
    border-top: 0;
    border-bottom: 0;
  }

.league-name {
  color: white;
}
