.league-column {
  padding: 10px;
  min-height: 115px;
  margin-bottom: 25px;
  background-color: #2d2d2d;
  height: 86vh;
  overflow-y: scroll;

  &-container {
    padding: 3px 4px;
    border-bottom: 1px solid dimgrey;
    flex: 0 100%;
  }

  &-container:nth-child(even) {
    border: 1px solid white;
    border-top: 0;
    border-bottom: 0;
  }
}

.league-name {
  color: white;
}
