.league-row {
  padding: 10px;
  min-height: 115px;
  margin-bottom: 25px;
}

.league-row-container {
  padding: 3px 22px;
  border-bottom: 1px solid dimgrey;
}

/*.league-name {
  position: relative;
  top: -18px;
  padding: 2px 7px;
  border: 1px solid white;
  background-color: white;
  color: black;
  border-radius: 3px;
}*/
