.box.phone-number-listing {
  padding: 0.75rem;
}

.box:not(:last-child).phone-number-listing {
  margin-bottom: 0.5rem;
}

.phone-number-listing .delete {
  margin-top: 0.25rem;
  margin-left: 0.3rem;
}
