#signup-icon-header svg {
  display: block;
  margin: 0 auto;
  margin-bottom: 17px;
}

.signup-info-column {
  .card-header {
    background: #fb5f66;

    .card-header-title {
      background: #fb5f66;
      color: white;
    }
  }

  .card-content {
    background: #fff9f9;
  }

  .box {
    border-right: 0;
  }
}

.signup-form-column .box {
  border-left: 0;
}
